.imgleft{
  float: left;
  width: 20%;
  border: 4px;
  border-style: solid;
  border-color: #ACE1F2;
  margin-right: 15px;
}

.jumbotron{
  background-color: #ACE1F2;
}

.centerAlign{
  text-align: center;
}

.centerAlign ul{
  display: inline-block;
  text-align: left;
}

.centerAlign ol{
  display: inline-block;
  text-align: left;
  font-weight: bold;
}

.rightSideBorder{
  width: 75%;
  float: right;
  border-style: ridge;
  border-color: #ACE1F2;
}

.buText{
  text-decoration: underline;
  font-weight: bold;
}

.col-sm-4 h2{
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}

.codetext{
  background-color:#EEEEEE;
  text-decoration: underline;
  font-weight: bold;
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
}

.bigText{
  font-size: 7em;
  font-family: serif;
  line-height: 15px;
}

p .bigText{
  margin-left: 30px;
}

.topBorder{
  margin-top: 50px;
}

.col-sm-6 img{
  width: 100%;
}
